@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Movie

@{
	ViewData["Title"] = "Info about " + Model.Title;
}


<!-- Check if there are any movies in the genre, if so display them
(This method could probably have been generalised with the one in "MovieLists")
-->
@if (!Model.Equals(null))
{
    <!--Loop to display gathered movies in the genre with some information about it-->
    <ul>
            <li>
                <strong>Model.Title</strong> (Rating: Model.VoteAverage)
                <br />
                <img src="https://image.tmdb.org/t/p/w200/@Model.PosterPath" alt="Model.Title" />
            <p style="background-image: url('https://image.tmdb.org/t/p/original/@Model.BackdropPath')"></p>
                <p>Model.Overview</p>
                <p>Release Date: @(Model.ReleaseDate?.ToString("yyyy-MM-dd") ?? "Unknown")</p>
                <!-- For now it only shows the genre ID's, next step is to show genre names, but as written
                    in the gerne class, I'm having trouble with that
                -->
                <p>Genres: </p>
			<ul>
				@foreach (var genre in Model.Genres)
				{
					<li>@genre.Name</li>
				}
                
            </li>
    </ul>
}
